.home {
    width: 90%;
    height: auto;
    background-color: #EEEEEE;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 300px;
}